<%- include ("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Posts</p>
			<div class="list-group">
				<li class="list-group-item active">Bailey The Cavapoo</li>
				<li class="list-group-item">DOB: February 11th, 2019</li>
				<li class="list-group-item">Pawrents: Jessica & Nick</li>
			</div>
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= post.image %>">
				<div class="caption-full">
						<a class="btn btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
						<form id="delete-form" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger">Delete</button>
						</form>
					<% }%>
				</div>
			</div>	
			<div class="well">
				<hr>

<%- include ("../partials/footer") %>